{% extends "base.html" %}
{% block title %}{% endblock %}
{% block js %}
    <script src="{{STATIC_URL}}js/socket.io.js"></script>
    <script>
        $(document).ready(function(){
            var socket = io.connect("/home");
            
            socket.on("connect", function(){
                console.log('Connceted!');
            });
            
            window.onbeforeunload = function(){
                socket.disconnect();
            }
        });
    </script>
{% endblock %}
{% block content %}
{% endblock %}