{% extends "base.html" %}
{% block title %}{{username}}{% endblock %}
{% block js %}
    <script src="{{STATIC_URL}}js/socket.io.js"></script>
    <script>
        var socket = io.connect('/user');
        
        window.WEB_SOCKET_SWF_LOCATION = '{{STATIC_URL}}flashsocket/WebSocketMain.swf';
        
        socket.on('connect', function(){
           console.log('Connected');
           socket.emit('set_user', '{{username}}');
        });
        
        socket.on('taco', function(status){
            $("#tacos").prepend("<li>" + status + "</li>");
        });
    </script>
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <p>Logged in as: {{request.user.username}}</p>
    {% endif %}
    <form action="" method="POST">
        {{ form.as_ul }}
        <input type="submit" value="Submit Taco">
        {% csrf_token %}
  </form>
    <ul id="tacos">
        {% for taco in tacos %}
         <li>{{taco.user}}: {{taco.status}}</li>
        {% endfor %}
    </ul>
{% endblock %}